@model KycForm
@{
	ViewData["Title"] = "All Saved Data";
}

<div class="text-center">
	<h1 class="display-4">Your Saved Data!!</h1>
	</div>
	
		<div class="form-group">
			<label asp-for="Part1.FirstName"></label>
			<input asp-for="Part1.FirstName" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Part1.MiddleName"></label>
			<input asp-for="Part1.MiddleName" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Part1.LastName"></label>
			<input asp-for="Part1.LastName" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Part2.ParmanentAddress"></label>:
			<input asp-for="Part2.ParmanentAddress" class="form-control"/>
		</div>
		
		<div class="form-group">
			<label asp-for="Part2.TemporaryAddress"></label>
			<input asp-for="Part2.TemporaryAddress" class="form-control"/>
		</div>
		<div class="form-group">
			<label asp-for="Part2.IdType"></label>
			<input asp-for="Part2.IdType" class="form-control col-2"/>
		</div>

		<a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Go To Home</a>

