@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to redis in Demo App!!</h1>
    <h3 class="display-8">Your Data will Be saved for 10 mins</h3>
    <ul>
       <li class="nav-item">
		                    <a class="btn btn-primary" asp-area="" asp-controller="Kyc" asp-action="KycPart1">Sample Form</a>
	   </li>
   </ul>
</div>
